*{
    margin:0;
    padding: 0;
}
body{
    position: relative;
    font-family: 'Raleway','Lato', sans-serif;
    font-size: 16px;
}
header{
    width: 100%;
    height: 4.0625em;
    background: #06060b;
}
#logo{
    position: relative;
    z-index: 90;
}
nav>ul{
    margin-left: 40px;
}
nav>ul>li{
    display: inline-block;
    margin-top: 16px;
    margin-left: 20px;
}
nav>ul>li>a {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125em;
    color: #a2a2a2;
}
nav>ul>li>a:hover{
    text-decoration: none
}
li>a>span:hover, .active{
    color:red;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
}
#imag2{
    width: 100%;
    height: 100%;
}
#slider{
    width:100%;
    height:39.375em;
    background: #06060b;
    position: relative;
    z-index: 1;
    text-align: center;
}
.slids{
    position: absolute;
    top:0;
    left:0;
}
#contentSlider{
    position: relative;
    z-index: 80;
}
#contentSlider>h1{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.875em;
    color:#fff;
    padding-top: 180px;
}
#contentSlider>h1>span{
    color: red;
}
#contentSlider p{
    font-family: 'Lato', sans-serif;
    color:#fff;
    font-size: 1em;
    margin: 1% 15%;
}
#butt>button{
    height: 50px;
    width: 170px;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Raleway Medium', sans-serif;
    font-size: 1.25em;
    cursor: pointer;
}
#butt1{
    background: #ff0036;
    margin-right: 15px;
    border: 2px solid #ff0036;
}
#butt2{
    background: #131313;
    margin-left: 15px;
    border: 2px solid #131313;
}
#next:before{
    content:'';
    height:18px;
    width:18px;
    display:block;
    border:3px solid #fff;
    border-right-width:0;
    border-top-width:0;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    position:absolute;
    left:1.25em;
    top:15.625em;
    cursor: pointer;
}
span#next:hover{
    height:18px;
    width:18px;
    display:block;
    border:3px solid red;
    border-right-width:0;
    border-top-width:0;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    position:absolute;
    left:1.25em;
    top:15.625em;
    cursor: pointer;
}
#prew:after{
    content:'';
    height:18px;
    width:18px;
    display:block;
    border:3px solid #fff;
    border-right-width:0;
    border-top-width:0;
    -ms-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg);
    position:absolute;
    right:1.25em;
    top:15.625em;
    cursor: pointer;
}
span#prew:hover{
    content:'';
    height:18px;
    width:18px;
    display:block;
    border:3px solid red;
    border-right-width:0;
    border-top-width:0;
    -ms-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg);
    position:absolute;
    right:1.25em;
    top:15.625em;
    cursor: pointer;
}
#about{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.875em;
    color: #262626;
    margin-top: 150px;
}
#about>span{
    color:red;
}
#about>p{
    font-family: 'Lato', sans-serif;
    color:#616161;
    margin-bottom: 100px;
}
/*аккордион*/
.accordion {
    width: 100%;
    max-width: 810px;
    margin: 10% auto 0;
    padding: 0;
    background-color: #fff;
}
/* секции аккордеона */
.accordion .accordion_item {
  margin-bottom:10px;
  position:relative;
  border:1px solid #e7e7e7;
}
/* заголовки панелей аккордеона */
.accordion .title_block {
    font-family: 'Lato', sans-serif;
  font-weight: 400;
    text-align: left;
  font-size: 18px;
  color: #262626;
  cursor:pointer;
  background: #fff;
  -webkit-transition:all .2s linear 0;
  -webkit-transition-delay:.2s 0;
  transition:all .2s linear 0;
  border-bottom:1px solid #e7e7e7;
  height:50px;
    margin: 0;
}
.accordion h3{
    padding-left: 70px;
    padding-top: 14px;
}
.title_block>span{
    height: 50px;
    width: 50px;
    border-right:1px solid #e7e7e7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.title_block>span>img{
    padding-top: 16px;
    padding-left: 16px;
}
.accordion .title_block:hover {
    color:red;
}
/* блоки с содержанием */
.accordion .info {
    display:none;
    padding:10px 15px;
    overflow: hidden;
    background:#fff;
    text-align: left;
}
.accordion .info_item {
    font-family: 'Lato', sans-serif;
    margin-bottom:10px;
    font-weight: lighter;
    font-size: 1em;
}
.minus{
    display: none;
}
.accordion .active_block .minus{
    display: block;
}
.accordion .active_block .plus{
    display: none;
}
.accordion .active_block .title_block{
    color:red;
}
/*конец аккордиона*/
.fotki{
    position: relative;
}
/*делаю 6угольник с фото внутри*/
.fotka1, .fotka2, .fotka3{
    position: absolute;
    margin-top: 40px;
}
.fotka1{
    z-index: 30;
    padding-left: 120px;
    transform:scale(1);
}
.fotka2{
    z-index: 10;
    padding-left: 240px;
    transform:scale(0.8);
}
.fotka3{
    z-index: 10;
    transform:scale(0.8);
}
.hexagon1, .hexagon2,.hexagon3 {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  width: 500px;
  height: 300px;
  margin: 0;
}
.hexagon-in1, .hexagon-in2, .hexagon-in3 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.hexagon-ini1, .hexagon-ini2, .hexagon-ini3 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.hexagon-ini1 {
    background-image: url(img/group1.png);
}
.hexagon-ini2{
    background-image: url(img/group2.png);
}
.hexagon-ini3{
    background-image: url(img/group3.png);
}
/*конец 6угольников*/
.flat {
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}
.flat h4{
    font-family: 'Raleway Medium', sans-serif;
    font-size: 1.25em;
    color: #262626;
    padding-top: 25px;
    text-transform: uppercase;
}
.flat p{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #616161;
    margin: 0 0;
}
.hexagon {
  position: relative;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  background: #000;
}
.hexagon:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
    background: #fff;
 /* background: #ccc url(http://webneel.com/daily/sites/default/files/images/daily/09-2014/6-nature-photography-pedraterrinha.jpg) no-repeat center center;*/
  background-size: cover;
    z-index: 10;
}
.hexagon,
.hexagon:before {
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    -webkit-transition: .3s;
    transition: .3s;
}
.flat>a:hover{
    text-decoration: none;
}
.ikon,.ikon1, .ikon2{
    color:#000;
    position: absolute;
}
.ikonka{
    color:#fff;
}
.ikon {
        top:35px;
        right: 35px;
        z-index: 30;
    }
    .ikon1 {
        top:25px;
        right: 40px;
        z-index: 30;
    }
    .ikon2 {
        top:20px;
        right: 30px;
        z-index: 30;
    }
   .hexagon:hover, .hexagon:hover:before{
       cursor: pointer;
    background: red;
    color: #fff;
   }
   .protfolio{
       text-align: center;
   }
   .protfolio h4{
       font-family: 'Raleway', sans-serif;
       font-size: 1.875em;
       font-weight: bold;
       color:#ffffff;
       margin: 50px 0 15px 0;
   }
   .protfolio li{
       display: inline-block;
       margin-left: 30px;
       margin-bottom: 50px;
   }
   .protfolio li a{
       color:#a4a4a4;
       font-family: 'Lato', sans-serif;
       font-weight: bold;
       font-size: 1em;
       text-transform: uppercase;
   }
   .protfolio li a:hover{
       color:red;
       text-decoration: none;
   }
   .folio1, .folio2{
       position: relative;
       height:200px;
       cursor: pointer;
       z-index: 20;
       opacity: 1;
   }
   .folio1{
       width:30%;
   }
   .folio2{
       width:20%;
   }
   .folio3{
       position: absolute;
       top:0;
       left: 0;
       width:100%;
       height:200px;
       z-index: 30;
       opacity: 0;
       background: #050d11;
   }
   .folio3>img{
       position: absolute;
       z-index: 50;
       margin-top: 70px;
       margin-left: 35%;
   }
   .foliimgnoy{
       opacity:0;
   }
   .foliimghover{
       opacity:1;
   }
   .folio3:hover{
       opacity:.8;
   }
   .features{
       text-align: center;
   }
.features h4{
    font-weight: bold;
    font-size: 1.875em;
    color:#000;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}
.features h4>span{
    color:red;
}
#second2, #second {
    position: relative;
    z-index: 100;
}
.section input[type="radio"],.section2 input[type="radio"]
.section input[type="checkbox"],.section input[type="checkbox"]{
  display: none;
}
.container1,.container2 {
  margin-bottom: 10px;
}
.container1 label, .container2 label {
  position: relative;
}
/* Base styles for spans */
.container1 span::before, .container2 span::before{
     content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-size: cover;
    background-color: #e7e7e7;
}
.container1 span::after, .container2 span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* Radio buttons */
.container1 span.radio:hover, .container2 span.radio:hover {
  cursor: pointer;
    background: red;
}
.container1 span.radio::before ,.container2 span.radio::before{
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #A8AAC1;
  border-radius: 50px;
}
.container1 span.radio::after, .container2 span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #6C788A;
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #EBFF43;
}
/* Check-boxes */
.container1 span.checkbox::before,.container2 span.checkbox::before {
  width: 27px;
  height: 27px;
  background-color: #e7e7e7;
  border: 3px solid transparent;
  transition: border-color .2s;
    cursor: pointer;
}
.container1 span.checkbox::before{
   left: 315px;
}
.container2 span.checkbox::before{
    left: 10px;
}
/*далее рисую 6-угольник*/
.container1 span.checkbox::before,.container2 span.checkbox::before {
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    -webkit-transition: .3s;
    transition: .3s;
}/*конец 6-угольника*/
.container1 span.checkbox:hover::before,.container2 span.checkbox:hover::before {
  background: #fff;
}
.container1 span.checkbox::after,.container2 span.checkbox::after {
  content: '\f00c';
    font-family: 'FontAwesome', sans-serif;
  color: transparent;
    top: -1px;
  transition: color .2s;
}
.container1 span.checkbox::after{
    left: 320px;
}
.container2 span.checkbox::after{
    left: 15px;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: red;
}
.check{
    border: 1px solid red;
    height: 40px;
    font-family: 'Raleway Medium', sans-serif;
    text-transform: uppercase;
    color:#000;
    font-size: 1.25em;
    margin-bottom: 20px;
}
.check:hover{
    background: red;
    color: #fff;
}
label{
    width:100%;
}
.label1, .label2{
    margin-top: 5px;
    cursor: pointer;
}
.label1{
    padding-left: 20px;
}
.label2{
    text-align: right;
    padding-right: 20px;
}
#second, #second2{
  margin-top: 120px;
}
#mockup{
    position: absolute;
    margin-left: -10px;
    margin-top: 15%;
    z-index: 20;
}
#Shape1{
    position: absolute;
    z-index: 40;
    margin-top: 120%;
    margin-left: -65px;
}
#Shape2{
    position: absolute;
    z-index: 10;
    margin-left: -67px;
    margin-top: 67%;
}
#ReplaceMe{
    position: absolute;
    z-index: 30;
    margin-top: 28%;
}
#butt3{
    font-family: 'Raleway Medium', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    width:170px;
    height:50px;
    background: #393939;
    color: #ffffff;
    margin-top: 150%;
    margin-left: 25%;
    position: relative;
    z-index: 120;
}
.our_clints{
    text-align: center;
    margin-bottom: 70px;
}
.our_clints h4{
    font-family: 'Raleway', sans-serif;
    font-size: 1.875em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 25px;
}
.our_clints h4>span, .our_clints p>span{
    color: red;
}
.our_clints p{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #fff;
}
.heppi{
    text-align: center;
}
.heppi h4{
    font-family: 'Raleway Medium', sans-serif;
    font-size: 1.25em;
    color: #fff;
    margin-bottom: 35px;
}
.heppi p{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: grey;
    margin-bottom: 35px;
}
.heppi p>span{
    color: red;
}
.hexagon4, .hexagon5,.hexagon6 {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  width: 390px;
  height: 130px;
  margin: 0;
}
.hexagon-in4, .hexagon-in5, .hexagon-in6 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.hexagon-ini4, .hexagon-ini5, .hexagon-ini6 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.hexagon-ini4 {
    background-image: url(img/group11.png);
}
.hexagon-ini5{
    background-image: url(img/group22.png);
}
.hexagon-ini6{
    background-image: url(img/group33.png);
}
#minislider{
    position: relative;
    text-align: center;
}
.fotka4, .fotka5, .fotka6{
    position: absolute;
    padding-top: 20px;
    margin-left: 15%;
}
.fotka4{
    z-index: 3;
}
.fotka5{
    z-index: 2;
}
.fotka6{
    z-index: 1;
}
#pagin{
    list-style: none;
    position: absolute;
    margin-top: 200px;
    margin-left: 45%;
    z-index: 200;
}
#pagin li{
    display: inline-block;
    width:15px;
    height:15px;
    margin-right: 10px;
    background-color: white;
}
.slider__indicator_active{
    background-color: red;
}
.ourclints1 {
    background: url("img/ourclints1.png") no-repeat;
    width: 270px;
    height: 116px;
    margin-top: 50px;
    cursor: pointer;
    font-family: 'Raleway Medium', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.ourclints1>p{
    margin-top: 43px;
 }
.teamwork{
    text-align: center;
}
.teamwork h4{
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 1.875em;
    font-weight: bold;
    margin-top: 90px;
    margin-bottom: 45px;
}
.teamwork h4>span{
    color: red;
}
.teamwork p{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color:#505050;
    margin-bottom:90px;
}
.imgteam{
    width:270px;
    height:240px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.imgteamnone{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: #000;
    text-align: center;

}
.team{
    font-family: 'Raleway Medium', sans-serif;
    text-align: center;
    border: 1px solid grey;
    margin-bottom: 50px;
    width: 270px;
}
.team h4:hover{
    color: red;
}
.team h4{
    font-size: 1.25em;
    color: #000;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}
.team p{
    font-size: 1em;
    color: #505050;
    margin-bottom: 30px;
}
.Webdesing{
    cursor: pointer;
}
.hexagon22 {
  position: relative;
  margin-top: 30%;
  width: 60px;
  height: 60px;
  background: #fff;
    display: inline-block;
}
.hexagon22:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
    background: red;
  background-size: cover;
    z-index: 30;
    padding-left: 20px;
}
.hexagon22,
.hexagon22:before {
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    -webkit-transition: .3s;
    transition: .3s;
}
.facebook{
    content:"\f09a";
    left: 19px;
    top: 17px;
}
.twitter, .google, .facebook{
    position: absolute;
    z-index: 30;
    color: #fff;
    background: red;
}
.twitter{
    content:"\f081";
    left: 15px;
    top: 13px;
}
.google{
    content: "\ f0d5";
    left: 12px;
    top: 13px;
}
.imgteamnone{
    opacity: 0;
}
.imgteamnone:hover{
    opacity: 1;
}
.services{
    text-align: center;
}
.services>h4, .Bestseller>h4{
    font-family: 'Raleway', sans-serif;
    font-size: 1.875em;
    font-weight: bold;
     margin-bottom: 45px;
    margin-top: 90px;
}
.services>h4{
    color: #fff;
}
.Bestseller>h4, .ourBlog>h4{
    color: #000;
}
.services h4>span, .Bestseller h4>span,
.ourBlog h4>span{
    color:red;
}
.services p, .Bestseller p,
.ourBlog p{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: grey;
}
.service{
    text-align: left;
    position: relative;
    width:100%;
    min-height:100px;
    cursor: pointer;
}
.service>h4{
    font-family: 'Raleway Medium', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    color: #d8d8d8;
    padding-left: 100px;
    margin-top: 20px;
}
.hexagon33 {
  position: absolute;
  width: 56px;
  height: 56px;
  background: #fff;
    display: inline-block;
}
.hexagon33:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
    background: #a4a4a4;
  background-size: cover;
    z-index: 30;
    padding-left: 20px;
}
.hexagon33,
.hexagon33:before {
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    -webkit-transition: .3s;
    transition: .3s;
}
.fa-html5, .fa-wordpress, .fa-television,
.fa-tablet, .fa-pencil-square, .fa-code{
    position: absolute;
    z-index: 30;
    color: #fff;
}
.hexagon33:hover:before{
    background: red;
}
.fa-code{
    content: "\f121";
    left: 11px;
    top:11px;
}
.fa-pencil-square{
    content: "\f14b";
    left: 14px;
    top:13px;
}
.fa-tablet{
    content: "\f10a";
    left: 18px;
    top:13px;
}
.fa-television{
    content:"\f26c";
    left: 11px;
    top: 13px;
}
.fa-wordpress{
    content: "\  f19a";
    left: 12px;
    top: 13px;
}
.fa-html5{
    content:"\ f13b";
    left: 15px;
    top: 12px;
}
.text_services{
    font-family: 'Lato', sans-serif;
    font-size: .9em;
    color: #a4a4a4;
    background: #343434;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
    margin-top: 30px;
}
.text_services:hover{
    background: #3d2329;
    color: #dad7d8;
}
.Bests{
    text-align: center;
    border: 1px solid gray;
    padding: 0;
    margin-bottom: 50px;
    cursor: pointer;
}
.Bests h5, .Bests_button{
    font-family: 'Raleway Medium', sans-serif;
    color: white;
    font-size: 1.25em;
    text-transform: uppercase;
    background: #262626;
}
.Bests>h5{
    margin-bottom: 0;
}
.Bests_activ{
    background: red;
    color: white;
}
.Bests h5{
    padding-top: 15px;
    padding-bottom: 15px;
}
.Bests_button{
    width: 225px;
    height: 40px;
    margin-bottom: 10px;
}
.Bests_noy_activ{
    color: #262626;
}
.Bests_text{
    font-family: 'Lato Black', sans-serif;
    font-size: 3.124375em;
    margin-bottom: -2px;
}
.Bests_text>small, .Bests_text1{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.Bests_text1{
    border-top: 1px solid gray;
}
#twitt{
    margin-top: 50px;
    margin-bottom: 20px;
}
.Blog{
    margin: 20px 5% 100px 5%;
    border: 2px solid #000;
    height: 400px;
    position: relative;
    overflow: scroll;
}
.Blog1{
    width: 36%;
    min-height: 200px;
    margin-left: 2%;
}
.Blogtext{
    width: 60%;
    min-height: 200px;
    margin-right: 2%;
    padding-left: 10px;
    text-align: left;
}
.Blogtext h6{
    font-family: "Raleway SemiBold","sans-serif";
    font-size: 1.25em;
    text-transform: uppercase;
    color: #2e2e2e;
}
.Blogtext ol li{
    list-style: none;
    display: inline-block;
}
.buttonBlock{
    width: 120px;
    height: 40px;
    background: #262626;
    text-transform: uppercase;
    color: white;
}
.buttonBlock:hover{
    background: red;
}
.hexagon333, .hexagon333h {
  position: relative;
  width: 76px;
  height: 76px;
  background: red;
    display: inline-block;
    z-index: 30;
}
.hexagon333:before{
    background: #000;
}
.hexagon333:before, .hexagon333h:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-size: cover;
    z-index: 30;
    padding-left: 20px;
    cursor: pointer;
}
.hexagon333, .hexagon333h,
.hexagon333:before, .hexagon333h:before {
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    -webkit-transition: .3s;
    transition: .3s;
}
.hexagon333h:before{
    background: red;
}
.book{
    position: absolute;
    z-index: 40;
    top:20px;
    left: 27px;
    cursor: pointer;
    color: red;
}
.FollowCreativia{
    text-align: center;
}
.FollowCreativia h4{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.875em;
    color: white;
    margin-top: 50px;
    margin-bottom: 35px;
}
.FollowCreativia h4>span{
    color: red;
}
.hex{
    margin-left: 25px;
}
.gon{
    color: white;
}
.Fine_us_here{
    text-align: center;
}
.Fine_us_here h4{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.875em;
    color:#000;
    margin-top: 50px;
    margin-bottom: 25px;
}
.Fine_us_here h4>span{
    color: red;
    margin-bottom: 40px;
}
.Fine_us{
    margin: 20px auto;
    position: relative;
}
.Fine2{
    position: absolute;
    z-index: 20;
    left:190px;
    bottom: 150px;
    background: url("img/Shape.png") no-repeat;
    width: 300px;
    height: 226px;
    text-align: left;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}
.Fine2 p{
    padding-left: 30px;
    line-height: 18px;
}
.Fine{
    position: absolute;
    z-index: 20;
    width: 470px;
    height: 460px;
    background: #fff;
    bottom: 0;
    right: 50px;
    font-family: 'Raleway Medium', sans-serif;
}
.Fine>h5{
    text-transform: uppercase;
    font-size: 1.25em;
    color: #95a5a5;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 35px;
}
.Fine .inp{
    width: 370px;
    height: 30px;
    font-size: 18.26px;
    color: #95a5a5;
    margin-left: 35px;
    margin-bottom: 20px;
    padding-left: 30px;
}
#subm{
    text-transform: uppercase;
    background: #262626;
    width:120px;
    height:40px;
    color:#fff;
    margin-top: 100px;
    margin-left: 280px;
    font-weight: bold;
}
footer{
    background: #262626;
    position: relative;
}
footer h5{
    font-family: "Raleway", sans-serif;
    font-size: 1.875em;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.footerp{
    color: white;
    font-size: 16px;
    position: absolute;
    right:50px;
    bottom:3px;
}














